.common {
    text-align: center;
}

.title {
    font-size: x-large;
}

.boxitem {
    display: inline-block;
    vertical-align: top;
}

#inputimg {
    vertical-align: top;
    border: solid 2px orange;
    background-color: wheat;
}

#clearbtn {
    width: 100%;
    font-size: medium;
    display: block;
}

#pred {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 75px;
    border: solid 2px orange;
    background-color: wheat;
    font-family: 'Times New Roman', Times, serif;
}
