<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Handwritten Digit Recognition</title>
</head>

<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <h1 style="text-align:center;">Computer Vision Project</h1>
    <div class="common">
    <p class="title common">Nhận diện chữ số viết tay sử dụng CNN</p>
    <p class="title common">Handwritten Digit Recognition using CNN</p>
    <div class="common">
        <p>Thành viên đóng góp: Nguyễn Khải Hoàn, Nguyễn Viết Công, Lê Ngọc Ánh</p>
    </div>
    <br/>
    <div class="common">
        <div class="boxitem" style="margin-right: 100px;">
            <canvas id="inputimg" width="250" height="250"></canvas>
            <button id="clearbtn" style="margin: 20;font-size: large; width: auto;"> Xóa </button>
        </div>
        <div class="boxitem" style="margin-right: 20px;">
            
            <div id="pred">0</div>
            <div id="prob">Accuracy: </div>
        </div>
        <div class="boxitem">
            <svg id="probGraph" width="200" height="100"></svg>
        </div>
    </div>
    

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
    <script src="//d3js.org/d3.v5.min.js"></script>

</body>
